{% extends 'layouts/main.html' %}
{% block title %}AUTHOR{% endblock %}
{% block content %}
{% if author %}
<div class="author">
   <h4>Name: {{ author.name }}, {{ author.yob }}</h4>

   {% if books%}
   <p>Books:</p>
   <ol>
        {% for book in books %}
               {% if "post:book" in permissions %}
                <li>
                    <p><a href="/books/{{ book.id }}"> {{ book.title}}, {{ book.year}} </a></p>
                {% else %}
                    <p>{{ book.title}}, {{ book.year}}</p>
                </li>
                {% endif %}

        {% endfor %}
    </ol>
    {% else %}
    There are no books written by this author.
    {% endif %}

</div>

{% if "post:author" in permissions %}
<div class="more">
    <div class="edit"><a href="/authors/{{ author.id }}/edit">Edit this author</a></div>

    {% if "delete:author" in permissions %}
    <div class="delete"><a data-method="delete" href="/authors/{{ author.id }}/delete">Delete this author</a></div>
    {% endif %}

</div>

{% endif%}

{% endif %}

{% endblock content %}