{% extends 'layouts/main.html' %}
{% block title %}AUTHOR{% endblock %}
{% block content %}
{% if author %}
<div class="author">
   <p>Name: {{ author.name }}</p>
   <p>Books: {{ books }}</p>
</div>

    {% if "post:author" in permissions %}
    <a href="/authors/{{ author.id }}/edit">Edit this author</a>
    {% endif%}
    

    {% if "delete:author" in permissions %}
    <a data-method="delete" href="/authors/{{ author.id }}/delete">DELETE</a>
    {% endif %}
    
    
{% endif %}

{% endblock content %}