{% extends 'layouts/main.html' %}
{% block title %}BOOKS{% endblock %}
{% block content %}

    {% if authors %}
    <ul>
        {% for author in authors %}
        <a href="/authors/{{ author.id }}"><li>{{ author.id }}, {{ author.name }}</li></a>
        {% endfor %}
    </ul>
    {% else %}
        There are no authors in the database yet. 
    {% endif %}


    {% if "read:author" in permissions %}
        {% if authors %}
        <ul>
            {% for author in authors %}
            <li>{{ author.id }}, {{ author.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
            There are no authors in the database yet. 
        {% endif %}
    <!-- <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a> -->
    {% endif %}

{% endblock content %}