{% extends 'layouts/main.html' %}
{% block title %}BOOKS{% endblock %}
{% block content %}
    {% if "post:author" not in permissions %}
        {% if authors %}
        <ul>
            {% for author in authors %}
            <li>{{ author.id }}, {{ author.name }}</li></a>
            {% endfor %}
        </ul>
        {% else %}
            There are no authors in the database yet. 
        {% endif %}
    {% endif %}


    {% if "post:author" in permissions %}
        {% if authors %}
        <ul>
            {% for author in authors %}
            <li><a href="/authors/{{ author.id }}">{{ author.id }}, {{ author.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            There are no authors in the database yet. 
        {% endif %}
    <!-- <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a> -->
    {% endif %}

{% endblock content %}