{% extends 'layouts/main.html' %}
{% block title %}BOOK{% endblock %}
{% block content %}
{% if book %}
<div class="book">
    <p>TITLE: {{ book.title }}</p>
    {% if "post:book" in permissions %}
        {% if author %}
        <p>AUTHOR:<a href="/authors/{{author.id}}"> {{book.author}}</a></p>
        {% else %}
            <p>Author: {{ book.author }}</p>
        {% endif %}
    {% else %}
        <p>Author: {{ book.author }}</p>
    {% endif%}

    <p>Year: {{ book.year }}</p>
    <p>ID: {{ book.id }}</p>
</div>
{% endif %}
{% if "post:book" in permissions %}
<div class="more">
    <div class="edit">
        <a href="/books/{{ book.id }}/edit">Edit this book</a>
        {% endif%}
        </div>
        {% if "delete:book" in permissions %}
        <div class="delete">
            <a href="/books/{{ book.id }}/delete">Delete this book</a>
        {% endif %}
        </div>
</div>

{% endblock content %}