{% extends 'layouts/main.html' %}
{% block title %}BOOKS{% endblock %}
{% block content %}
    {% if "post:book" not in permissions %}
        {% if books %}
            <ul>
                {% for book in books %}
                <li>{{ book.id }}, {{ book.title }}, {{ book.author}}, {{ book.year }}</li></a>
                {% endfor %}
            </ul>
            {% else %}
                There are no books in the database yet. 
            {% endif %}
    {% endif %}


        {% if "post:book" in permissions %}
            {% if books %}
            <ul>
                {% for book in books %}
                <li><a href="/books/{{ book.id }}">{{ book.id }}, {{ book.title }}, {{ book.author }}, {{ book.year }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                There are no books in the database yet. 
            {% endif %}
        <!-- <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a> -->
    {% endif %}

{% endblock content %}