<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <div class="header">
      <h1>FSND Publishing House</h1>
  </div>

    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="../../static/css/main.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="../../static/img/teddy-bear.png">
    
</head>

<body>
    
    

    {% if login==True %}
    <p>If you'd like to browse through our books and authors, please <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>.<p>    
    {% endif %}

    {% if permissions %}
    <a href="/books">BOOKS</a>
    <a href="/authors">AUTHORS</a>
    <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
    {% endif %}


    {% block create_book %}{% endblock %}

    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-info fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}


    </main>



    <!-- scripts -->
    <script src="../../static/js/main.js" type="text/javascript"></script>

</body>
</html>