body{
    background-color:#d9d9d9;
    font-size: 20px;
}

h1 {
    /* background-color: #ffffff; */
    border-radius: 5px;
    text-align: center;
    color: #994d00;
}

h2 {
    text-align: center;
}

.main_page,
#qsLogoutBtn {
    color: #cc6600;
    font-weight: 200;

}

container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 5px;
}

a {
    color:black;
}

.links {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 20px;
}

.flash {
    margin:20px;
    padding: 20px;
    text-align: center;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sign_in {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
}