/* Main page display */

body{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image: url("../img/background_books.png.jpg");
    /* font-size: 20px; */
    width: 100vw;
    /* height: 100vh; */
}

main {
    display: grid;
    grid-template-rows: repeat(3, minmax(2vh, 10vh));
    grid-template-columns: auto;
    /* row-gap: 1vh; */
    grid-template-areas:
        "header"
        "signin"
        "container";
    margin: auto;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    justify-content: center;
}

.transparent,
container,
.header,
.sign_in {
    max-width: 100vw;
    margin: auto;
}

h1 {
    grid-area: header;
    border-radius: 5px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 5px red;
}

.transparent {
    grid-area: signin;
    background: rgba(204, 204, 204, 0.9);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

h2 {
    text-align: center;
    color:black;
    text-decoration: underline;
}

#qsLoginBtn {
    color:#8B0000;
    margin: 10px;
}

h3 {
    grid-area: side;
    padding: 2vw;
    margin: 5vw;
    width: 25vw;
    color: #9c2238;
    font-weight: 900;
    background-color: bisque;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    align-self: center;
}

.main_page,
#qsLogoutBtn {
    color: #cc6600;
    font-weight: 200;
}

container {
    grid-area: container;
    /* display: flex;
    flex-flow: row; */
    justify-content: center;
    align-items: center;
}

a {
    color:black;
    word-wrap: break-word;
}

.links {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 20px;
}

.flash {
    margin:20px;
    padding: 20px;
    text-align: center;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sign_in {
    display: grid;
    grid-template-rows: auto;
    width: 100vw;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas:
        "side reader"
        "side coordinator"
        "side editor"
        "git git";
    column-gap: 20px;
    margin: 30px;
    border-radius: 10px;
    row-gap: 5px;
}

.reader {
    grid-area: reader;
}

.coordinator {
    grid-area: coordinator;
}

.editor {
    grid-area: editor;
}

.git {
    grid-area: git;
    color: #8B0000;
    font-size: 30px;
    font-weight: bold;
    background-color: bisque;
    padding: 2vw;
    margin: auto;
    max-width: 85vw;
}

.reader,
.coordinator,
.editor {
    text-align: center;
    background-color: bisque;
    border-radius: 5vw;
    max-width: 40vw;
    padding: 10px;
}

container {
    text-align: center;
}

.permissions {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    font-weight: 700;
    margin-right: 15px;
}

.link {
    background: rgba(204, 204, 204, 0.9);
    font-size: small;
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
}

.errors {
    display: flex;
    flex-flow: column;
    align-items: center;
}

p.error {
    background-color: hsl(0, 76%, 45%, 0.7);
    font-size: inherit;
    max-width: 70vw;
    font-size: large;
    font-weight: 900;
}

ul.flashes {
    margin-right: 20px;
    max-width: 70vw;
    font-size: large;
    /* margin: auto; */
}

.link_error {
    margin: 20px;
    font-weight:bolder;
    font-size:x-large;
    border:#520303 solid;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: hsl(207, 29%, 87%, 0.5);
}

.link_error a.main_page {
    color: black;
    font-weight: 900;

}

/* Book display */

.books,
.authors {
    max-width: 80vw;
    margin:auto;
}

ol {
    font-size: large;
    font-weight: 500;
    background: #c59b9bb3;
    max-width: 90vw;
    align-self: center;
}

li {
    margin: 5px;
    font-weight: 900;
    background: #c59b9bb3;
    padding: 10px;
    border-radius: 5px;
    max-width: fit-content;
}

.book,
.author {
    color:#520303;
    font-weight: 600;
    background: #c59b9bb3;
    max-width: 90vw;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-right: 15px;
        /* margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px; */
}

.form_worning {
    max-width: 90vw;
    font-size: medium;
    font-weight: bold;
    font-style: italic;

}

/* Authors display */

h4 {
    padding: 5px;
    margin: auto;
}

p {
    margin: auto;
}

form {
    background: #c59b9bb3;
    text-align: center;
    padding: 10px;
    font-weight: 800;
    margin-right: 15px;
}

form * {
    margin: 2px;
}

.more {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 10px;
}

.edit,
.delete {
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 465px) {

    .sign_in {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 100vw;
        margin: auto;
        font-size: medium;
        padding: 0;
    }

    container {
        padding: 5px;
    }

    .transparent {
        height: 5vh;
    }

    container,
    h2,
    .git {
        font-size: small;
    }

    h2 {
        margin: auto;
    }

    h3 {
        width: 80vw;
        font-size: medium;
    }

    h4 {
        margin: auto;
    }

    .reader,
    .coordinator,
    .editor {
        max-width: 100vw;
        font-size: small;
    }

    form {
        font-weight: 300;
        font-size: small;
        margin-top: 15px;
    }

    ol {
        font-size: small;
        padding: 10px;
        border-radius: 5px;
    }

    li {
        max-width:max-content;
    }

    /* ul.flashes {
        font-size: large;
    } */
}


@media only screen and (min-width: 466px) and (max-width: 900px) {

    body {
        font-size: small;
    }

    .sign_in,
    .transparent {
        max-width: 600px;
    }

    .books,
    .authors {
        max-width: 70vw;
        margin:auto;
    }

    .transparent {
        height: 8vh;
    }

    .reader,
    .coordinator,
    .editor {
        font-size: medium;
        max-width: 40vw;
    }

    .git {
        font-size: medium;
    }

    h3 {
        width: 30vw;
    }

    .link {
        font-size: medium;
        padding: 2px;
        margin: 2px;
    }

    .sign_in {
        column-gap: 0px;
        padding: 5px;
        margin: 5px;
    }

    .book,
    .author,
    .more {
        font-size: large;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    form {
        font-size: medium;
    }

    .form_worning,
    #author {
        font-size: large;
    }

    input {
        font-size: medium;
    }

    p.error {
        font-size:x-large;
    }

    ul.flashes {
        margin: auto;
    }
}

@media only screen and (min-width: 901px) {
    .sign_in,
    .transparent {
        max-width: 70vw;
    }

    .link {
        font-size: x-large;
    }

    .books,
    .authors {
        max-width: 60vw;
        margin:auto;
    }

    .book,
    .author,
    .more {
        font-size:x-large;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    form {
        font-size: x-large;
        margin-top: 1vw;
    }

    input,
    .form_worning,
    #author {
        font-size: x-large;
    }

    p.error {
        font-size:xx-large;
    }

    ul.flashes {
        margin: auto;
    }
}