{% extends 'layouts/main.html' %}
{% block title %}CREATE BOOK{% endblock %}
{% block content %}
<form action="" method="post">
    <h3>Please, don't forget to add your author first if not in the list.</h1>
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
    <div class="form-group m-5">
        {{form.title.label()}}
       {{form.title(class="form-control")}}
    </div>
    <div class="form-group m-5">
        {{form.author.label()}}
        <select {{form.author(class="form-control")}} name=authors id=authors>
            {% for author in authors %}
            <option value= "{{author.name}}" SELECTED>{{author.name}}</option>"
            {% endfor %}
        </select>
    </div >
    <div class="form-group m-5">
        {{form.year.label()}}
        {{form.year(class="form-control")}}
    </div>
    {{form.send(class="btn-lg btn-primary m-5")}}
 </form>


{% endblock content %}